@using ReTwitter.Web.Areas.Admin.Models.Users
@model ReTwitter.Web.Areas.Admin.Models.Statistics.ActivelyFollowingViewModel

<br />
<br />
<br />
@{
    ViewData["Title"] = "Actively Following Details";
}

<h1>@ViewData["Title"]</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                ScreenName
            </th>
            <th>
                Bio
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var followeeModel in Model.ActivelyFollowingModels)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => followeeModel.ScreenName)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => followeeModel.Bio)
                </th>
                <th>
                    <a asp-area="" asp-controller="Followee" asp-action="FolloweeAdminDelete" asp-route-userId="@Model.UserId" asp-route-followeeId="@followeeModel.FolloweeId">Delete</a>
                </th>
            </tr>
        }
    </tbody>
</table>