@using ReTwitter.Web.Areas.Admin.Models.Users
@model ReTwitter.Web.Areas.Admin.Models.Statistics.ActivelyFollowingViewModel

<br />
<br />
<br />
@{
    ViewData["Title"] = "Actively Following Details";
}

<h1>@ViewData["Title"]</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                ScreenName
            </th>
            <th>
                Bio
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var followeeModel in Model.ActivelyFollowingModels)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => followeeModel.ScreenName)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => followeeModel.Bio)
                </th>
                <th>
                    <button id="@Model.UserId" class="btn btn-palegreen btn-sm pull-right" value="@followeeModel.FolloweeId">Delete</button>
                </th>
            </tr>
        }
    </tbody>
</table>


@section Scripts{
    <script src="https://unpkg.com/sweetalert2@7.19.0/dist/sweetalert2.all.js"></script>
    <script>
        $(document).ready(function () {
            $('.btn.btn-palegreen.btn-sm.pull-right').on('click', function (e) {

                var evnt = $(this);
                event.preventDefault();
                var userId = evnt.attr('id');
                var followeeId = evnt.attr('value');

                $.ajax(swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        $.ajax({
                            url: "/Followee/FolloweeAdminDelete",
                            type: "POST",
                            data: { "UserId": userId, "FolloweeId": followeeId },
                            dataType: 'json',
                            success: function () {
                                console.log('kur');
                                evnt.closest("tr").remove();
                                swal(
                                    'Deleted!',
                                    'Followee of user has been deleted.',
                                    'success'
                                );
                            },
                            error: function (err) {
                                console.log(err);
                            }
                        });
                    } else if (
                        result.dismiss === swal.DismissReason.cancel
                    ) {
                        swal(
                            'Cancelled',
                            "Followee is still in user's list!",
                            'error'
                        )
                    }
                }));
            });
        });
    </script>
}
