@using ReTwitter.Web.Areas.Admin.Models.Users
@model ReTwitter.Web.Areas.Admin.Models.Statistics.AllUserStatisticsViewModel

<br />
<br />
<br />
@{
    ViewData["Title"] = "User Statistics";
}

<h1>@ViewData["Title"]</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                User created on
            </th>
            <th>
                User status
            </th>
            <th>
                Saved Twitter Accounts
            </th>
            <th>
                Deleted Twitter Accounts
            </th>
            <th>
                Saved tweets
            </th>
            <th>
                Deleted tweets
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.UserStatisticsModels)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => user.UserName)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => user.UserNameCreatedOn)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => user.ActiveStatus)
                </th>
                <th>
                    <a asp-controller="Statistics" asp-action="ActivelyFollowing" asp-route-userId="@user.UserId">@Html.DisplayFor(modelItem => user.ActivelyFollowedAccountsCount)</a>
                </th>
                <th>
                    @Html.DisplayFor(modelItem => user.DeletedAccountsCount)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => user.SavedTweetsCount)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => user.DeletedTweetsCount)
                </th>
            </tr>
        }
        <tr>
            <th>
                Total: @Html.DisplayFor(modelItem => Model.TotalStatistics.TotalUsers) users
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
                Total: @Html.DisplayFor(modelItem => Model.TotalStatistics.TotalActivelyFollowedAccountsCount) accounts
            </th>
            <th>
                Total: @Html.DisplayFor(modelItem => Model.TotalStatistics.TotalDeletedAccountsCount) accounts
            </th>
            <th>
                Total: @Html.DisplayFor(modelItem => Model.TotalStatistics.TotalSavedTweetsCount) tweets
            </th>
            <th>
                Total: @Html.DisplayFor(modelItem => Model.TotalStatistics.TotalDeletedTweetsCount) tweets
            </th>
        </tr>
    </tbody>
</table>