@using ReTwitter.Web.Areas.Admin.Models.Users
@model ReTwitter.Web.Areas.Admin.Models.Statistics.SavedTweetsViewModel

<br />
<br />
<br />
@{
    ViewData["Title"] = "Detailed saved tweets";
}

<h1>@ViewData["Title"]</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Twitten by
            </th>
            <th>
                Text
            </th>
            <th>
                Originally created on
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tweetModel in Model.SavedTweetModels)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => tweetModel.AuthorScreenName)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => tweetModel.Text)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => tweetModel.OriginalTweetCreatedOn)
                </th>
                <th>
                    <button id="@Model.UserId" class="btn btn-palegreen btn-sm pull-right" value="@tweetModel.TweetId">Delete</button>
                </th>
            </tr>
        }
    </tbody>
</table>



@section Scripts{
    <script src="https://unpkg.com/sweetalert2@7.19.0/dist/sweetalert2.all.js"></script>
    <script>
        $(document).ready(function () {
            $('.btn.btn-palegreen.btn-sm.pull-right').on('click', function (e) {
                var evnt = $(this);
                event.preventDefault();
                var userId = evnt.attr('id');
                var tweetId = evnt.attr('value');
                $.ajax(swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        $.ajax({
                            url: "/Tweet/TweetAdminDelete",
                            type: "POST",
                            data: { "UserId": userId, "TweetId": tweetId },
                            dataType: 'json',
                            success: function() {
                                evnt.closest("tr").remove();
                                swal(
                                    'Deleted!',
                                    'Tweet has been deleted.',
                                    'success'
                                );
                            },
                            error: function(err) {
                                console.log(err);
                            }
                        });
                    } else if ( result.dismiss === swal.DismissReason.cancel) {
                        swal(
                            'Cancelled',
                            'Tweet is still in users list!',
                            'error'
                        );
                    }
                }));
            });
        });
    </script>
}