@using ReTwitter.Web.Areas.Admin.Models.Users
@model ReTwitter.Web.Areas.Admin.Models.Statistics.SavedTweetsViewModel

<br />
<br />
<br />
@{
    ViewData["Title"] = "Detailed saved tweets";
}

<h1>@ViewData["Title"]</h1>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>
            Twitten by
        </th>
        <th>
            Text
        </th>
        <th>
            Originally created on
        </th>
        <th>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var tweetModel in Model.SavedTweetModels)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => tweetModel.AuthorScreenName)
            </th>
            <th>
                @Html.DisplayFor(modelItem => tweetModel.Text)
            </th>
            <th>
                @Html.DisplayFor(modelItem => tweetModel.OriginalTweetCreatedOn)
            </th>
            <th>
                <a asp-area="" asp-controller="Tweet" asp-action="TweetAdminDelete" asp-route-userId="@Model.UserId" asp-route-tweetId="@tweetModel.TweetId">Delete</a>
            </th>
        </tr>
    }
    </tbody>
</table>