@model ReTwitter.Web.Models.SearchViewModels.SearchResultsViewModel

@{
    ViewData["Title"] = "Search result";
}

<br />
<br />
<br />
@if (@Model.SearchResults.Count() != 0)
{
    foreach (var result in Model.SearchResults)
    {
        <div class="col-sm-4 col-xs-8">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>@result.ScreenName</h1>
                </div>
                <div class="panel-body">
                    <p><strong>Screen name: </strong>@result.Name</p>
                    <p><strong>Bio: </strong>@result.Description</p>
                    @*<p><strong>Location: </strong> @result.</p>*@
                </div>
                <div class="panel-footer">
                    <h4>External Link</h4>
                    <a class="btn btn-lg" href="@result.Url">
                        Website
                    </a>
                    @Html.ActionLink("Details", "FolloweeDetails", "Followee", new { id = result.FolloweeId }, new { @class = "btn btn-info" })
                </div>
            </div>
        </div>
    }
}