@model ReTwitter.Web.Models.SearchViewModels.SearchResultsViewModel

@{
    ViewData["Title"] = "Search result";
}

<br />
<br />
<br />

@if (@Model.SearchResults.Count() != 0)
{
    <br />
    foreach (var result in Model.SearchResults)
    {
        <div class="media">
            <div class="media-left">
                <img src="@string.Concat("https://twitter.com/", @result.ScreenName, "/profile_image?size=original")" class="photo media-object" style="width: 90px" aria-controlsalt="" />
            </div>
            <div class="media-body">
                <h4 class="media-heading">@result.Name<small><i> User created on: @result.FolloweeOriginallyCreatedOn.Substring(0, 10)</i></small></h4>
                <p><strong>Bio: </strong>@result.Bio</p>
                @Html.ActionLink("Details", "FolloweeDetails", "Followee", new { id = result.FolloweeId }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Follow", "FolloweeDetails", "Followee", new { id = result.FolloweeId }, new { @class = "btn btn-success" })
            </div>
            <hr />
        </div>
    }
}