@model ReTwitter.Web.Models.TweetViewModel.TweetResultsViewModel
@{
    ViewData["Title"] = "TweetDisplay";
}

<br />
<br />
<br />

<h2>Tweet Display</h2>

<table class="table">
    <tr>
        <th>
            Text
        </th>
        <th>
            Original Tweet Created On
        </th>
        <th>
            Users Mentioned
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.TweetResults)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalTweetCreatedOn, "{0:dd/MM/yyyy}")
            </td>
            <td>
                @Html.DisplayFor(model => item.UsersMentioned)
            </td>
            <td>
                @Html.ActionLink("Delete", "TweetDelete", "Tweet", new { tweetId = item.TweetId }, new { @class = "btn btn-info" })
            </td>
            <td>
                @*<a class = "btn btn-info" href="@string.Concat("https://twitter.com/intent/retweet?tweet_id=", item.TweetId)">Retweet</a>*@
                <a href="@string.Concat("https://twitter.com/intent/retweet?tweet_id=", item.TweetId)">Retweet</a>
                @*<a class = "btn btn-info" type="button" href="@string.Concat("https://twitter.com/intent/retweet?tweet_id=", item.TweetId)">Retweet</a>*@
            </td>
        </tr>
    }
</table>