@model ReTwitter.Web.Models.TweetViewModel.TweetResultsViewModel
@{
    ViewData["Title"] = "TweetDisplay";
}

<br />
<br />
<br />

<h2>Tweet Display</h2>

<table class="table">
    <tr>
        <th>
            Text
        </th>
        <th>
            Original Tweet Created On
        </th>
        <th>
            Users Mentioned
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.TweetResults)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalTweetCreatedOn, "{0:dd/MM/yyyy}")
            </td>
            <td>
                @Html.DisplayFor(model => item.UsersMentioned)
            </td>
            <td>
                @*@Html.ActionLink("Delete", "TweetDelete", "Tweet", new { tweetId = item.TweetId }, new { @class = "btn btn-info" })*@
                <button id="@item.TweetId" class="btn btn-palegreen btn-sm pull-right">Delete</button>

            </td>
            <td>
                @*<a class = "btn btn-info" href="@string.Concat("https://twitter.com/intent/retweet?tweet_id=", item.TweetId)">Retweet</a>*@
                <a href="@string.Concat("https://twitter.com/intent/retweet?tweet_id=", item.TweetId)">Retweet</a>
                @*<a class = "btn btn-info" type="button" href="@string.Concat("https://twitter.com/intent/retweet?tweet_id=", item.TweetId)">Retweet</a>*@
            </td>
        </tr>
    }
</table>


@section Scripts{
    <script src="https://unpkg.com/sweetalert2@7.19.0/dist/sweetalert2.all.js"></script>
    <script>
       $(document).ready(function () {
            $('button').on('click', function (e) {

                event.preventDefault();
                var id = $(this).attr('id');

                $.ajax(swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        $.ajax({
                            url: "/Tweet/TweetDelete/" + id,
                            type: "POST",
                            success: (response) => { }
                        }),
                            swal(
                                'Deleted!',
                                'Tweet has been deleted.',
                                'success'
                            )
                    } else if (
                        result.dismiss === swal.DismissReason.cancel
                    ) {
                        swal(
                            'Cancelled',
                            'Tweet is still in your list!',
                            'error'
                        )
                    }
                }));
            });
        });
    </script>
}