@model ReTwitter.DTO.FolloweeDto

@{
    ViewData["Title"] = "FolloweeDetailsFromDb";
}
<br/>
<br/>
<br/>
<h2>@Html.DisplayFor(model => model.Name)'s Details</h2>

<div>
    <img src="@string.Concat("https://twitter.com/", Model.ScreenName, "/profile_image?size=original")" class="photo" aria-controlsalt="" />
    <h4><strong>Screen name:</strong> @Html.DisplayFor(model => model.ScreenName)</h4>
    <p><strong>Description: </strong>@Html.DisplayFor(model => model.Bio)</p>
    <p><strong>Followers count : </strong>@Html.DisplayFor(model => model.FollowersCount)</p>
    <p><strong>Friends count : </strong>@Html.DisplayFor(model => model.FriendsCount)</p>
    <p><strong>Favorites count : </strong>@Html.DisplayFor(model => model.FollowersCount)</p>
</div>

@Html.ActionLink("Unfollow", "FolloweeDeleted", "Followee", Model, new { @class = "btn btn-info" })
@Html.ActionLink("Show Tweets", "TweetDisplay", "Tweet", new { followeeId = Model.FolloweeId }, new { @class = "btn btn-info" })
@Html.ActionLink("Search for latest 100 Tweets", "TweetSearchResult", "Tweet", new { followeeId = Model.FolloweeId }, new { @class = "btn btn-info" })