@model IEnumerable<ReTwitter.DTO.FolloweeDisplayListDto>
@{
    ViewData["Title"] = "FolloweeCollection";
}
<link rel="stylesheet" href="~/css/followees-collection.css" />

<h2 class="center-title">Followees Collection</h2>

<div class="container-followees clearfix">
    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>@@@Html.DisplayFor(model => item.ScreenName)</h1>
                </div>
                <div class="panel-body">
                    <img src="@string.Concat("https://twitter.com/", item.ScreenName, "/profile_image?size=original")" alt="" class="header-avatar">
                    <p><strong>@Html.DisplayFor(model => item.Name)</strong> </p>
                </div>
                <div class="panel-footer">
                    @Html.ActionLink("Details", "FolloweeDetailsFromDb", new { id = item.FolloweeId }, new { @class = "btn btn-lg" })
                    @Html.ActionLink("Update", "FolloweeUpdate", "Followee", new { followeeId = item.FolloweeId }, new { @class = "btn btn-lg" })
                    @Html.ActionLink("Unfollow", "FolloweeDeleted", "Followee", new { followeeId = item.FolloweeId }, new { @class = "btn btn-lg" })
                </div>
            </div>
        </div>
    }
</div>