@model IEnumerable<ReTwitter.DTO.FolloweeDto>
    @{
        ViewData["Title"] = "Followee";
    }

    <h2>Followees Collection</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ScreenName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ScreenName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>           
                @Html.ActionLink("Details", "FolloweeDetails", new {id = item.FolloweeId})
            </td>
        </tr>
    }

</table>