@model ReTwitter.DTO.TwitterDto.FolloweeFromApiDto

@{
    ViewData["Title"] = "FolloweeDetails";
    string id = Model.FolloweeId;
}

<link rel="stylesheet" href="~/css/display-followee-from-api.css" />

<div class="container">
    <div class="col-md-12">
        <div class="profile-container">
            <div class="profile-header row">
                <div class="col-md-12 col-sm-12 text-center">
                    <img src="@string.Concat(" https://twitter.com/", Model.ScreenName, "/profile_image?size=original")" alt="" class="header-avatar">
                </div>
                <div class="col-md-12 col-sm-12 profile-info">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="header-fullname">@Html.DisplayFor(model => model.Name)</div>
                        </div>
                        <div class="col-md-4">                     
                            <button id="follow-user-btn" class="btn btn-palegreen btn-sm pull-right">Follow User</button>
                        </div>
                    </div>
                    <div class="header-information">
                        @Html.DisplayFor(model => model.Bio)
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 profile-stats">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
                            <div class="stats-value pink">@Html.DisplayFor(model => model.FavoritesCount)</div>
                            <div class="stats-title">FOLLOWING</div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
                            <div class="stats-value pink">@Html.DisplayFor(model => model.FollowersCount)</div>
                            <div class="stats-title">FOLLOWERS</div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
                            <div class="stats-value pink">@Html.DisplayFor(model => model.StatusesCount)</div>
                            <div class="stats-title">POSTS</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://unpkg.com/sweetalert2@7.19.0/dist/sweetalert2.all.js"></script>
    <script>
    $(function () {
        $("#follow-user-btn").on("click", () => {
            $.ajax({
                url: "/Followee/FolloweeAdded/" + @id,
                type: "POST",
                success: (response) => {
                    if (response) {
                        swal(
                            'Congrats!',
                            'You successfully followed the user!',
                            'success'
                        )
                    } else {
                        swal(
                            'Oops...',
                            'You already follow this user!',
                            'error'
                        )
                    }
                    
                },
                error: (response) => {
                    console.log(response);
                }
            });
        });
    });
    </script>
}