@model ReTwitter.DTO.FolloweeDto

@{
    ViewData["Title"] = "FolloweeDetailsFromDb";
    string id = Model.FolloweeId;
}

<link rel="stylesheet" href="~/css/display-followee-from-db.css" />

<br />
<br />
<br />

<div class="container">
    <div class="col-md-12">
        <div class="profile-container">
            <div class="profile-header row">
                <div class="col-md-12 col-sm-12 text-center">
                    <img src="@string.Concat("https://twitter.com/", Model.ScreenName, "/profile_image?size=original")" alt="" class="header-avatar">
                </div>
                <div class="col-md-12 col-sm-12 profile-info">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="header-fullname">@Html.DisplayFor(model => model.Name)</div>
                        </div>

                        <div class="col-md-4">
                            <a href="#" class="btn btn-palegreen btn-sm pull-right btn-follow">
                                <i class="fa fa-check"></i> Following
                            </a>
                        </div>
                    </div>
                    <div class="header-information">
                        @Html.DisplayFor(model => model.Bio)
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 profile-stats">

                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
                            <div class="stats-value pink">@Html.DisplayFor(model => model.FriendsCount)</div>
                            <div class="stats-title">FOLLOWING</div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
                            <div class="stats-value pink">@Html.DisplayFor(model => model.FollowersCount)</div>
                            <div class="stats-title">FOLLOWERS</div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
                            <div class="stats-value pink">@Html.DisplayFor(model => model.StatusesCount)</div>
                            <div class="stats-title">POSTS</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 inlinestats-col">
                            <button id="unfollow-user-btn" class="btn btn-info">Unfollow</button>   
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 inlinestats-col">
                            @Html.ActionLink("Show Tweets", "TweetDisplay", "Tweet", new { followeeId = Model.FolloweeId }, new { @class = "btn btn-info" })
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 inlinestats-col">
                            @Html.ActionLink("Search for latest 100 Tweets", "TweetSearchResult", "Tweet", new { followeeId = Model.FolloweeId }, new { @class = "btn btn-info" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://unpkg.com/sweetalert2@7.19.0/dist/sweetalert2.all.js"></script>
    <script>
    $(function () {
        $("#unfollow-user-btn").on("click", () => {
            $.ajax({
                url: "/Followee/FolloweeDeleted/" + @id,
                type: "POST",
                success: (response) => {
                    if (response) {
                        swal({
                            position: 'top-end',
                            type: 'success',
                            title: 'You successfully unfollowed this user!',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    }
                },
                error: (response) => {
                    console.log(response);
                }
            });
        });
    });
    </script>
}